{% extends "base.html" %}
{% block content %}
<hr>
<h2> Edit item: </h2><br>
  <form class="form-inline-2" action="/inventory/{{ item.id }}" method="post">
      <label for="item_name">Item name:</label>
      <input type="text" id="item_name" name="item_name" value="{{ item.name }}">
      <br><label for="manufacturer">Manufacturer:</label>
      <select id="manufacturer" name="manufacturer_id">
        {% for manufacturer in all_manufacturers %}
          <option value="{{ manufacturer.id }}">{{ manufacturer.name }}</option>
        {% endfor %}
      </select>
      <br><label for=description>Description:</label>
      <input type="text" id="description" name="description" value="{{ item.description }}">
      <br><label for="quantity">Quantity:</label>
      <input type="number" id="quantity" name="quantity" value="{{ item.stock_quantity }}">
      <br><label for="buying_cost">Cost to buy:</label>
      <input type="number" id="buying_cost" name="buying_cost" value="{{ item.buying_cost }}">   
      <br><label for="selling_price">Selling price:</label>
      <input type="number" id="selling_price" name="selling_price" value="{{ item.selling_price }}">  
      <div class="submit-container-inventory">
        <br><input type="submit" id="submit" name="submit" value="submit">
      </div>
  </form>

{% endblock %}