{% extends "base.html" %}
{% block content %}
<hr>
<div class="item-container">
    {% for item in inventory %}
    <div class="item">
        <h2>{{ item.name }} from {{item.manufacturer.name }}</h2>
        <h4>{{ item.description }}</h4>
        <table>
            <tr>
              <th>Quantity in stock</th>
              <th>Buying cost</th>
              <th>Selling price</th>
            </tr>
            <tr>
              <td>{{ item.stock_quantity }}</td>
              <td>£{{ item.buying_cost }}</td>
              <td>£{{ item.selling_price }}</td>
            </tr>
          </table>
        

        <form class="form-inline" action="/inventory/{{ item.id }}/delete/" method="POST">
        <input type="submit" value="Delete" id="delete">
        <a href="inventory/{{ item.id }}">More information</a>
    </form>
    </div>
{% endfor %}
</div>
{% endblock %}
