{% extends "base.html" %}
{% block content %}
<hr>
<p><b>Filter by manufacturer:</b>
<form class="form-inline-2" action="/inventory/filter/test" method="POST">
    <select id="manufacturer" name="manufacturer_id">
        {% for manufacturer in manufacturers %}
          <option value="{{ manufacturer.id }}">{{ manufacturer.name }}</option>
        {% endfor %}
    </select>
    <div class="submit-container-inventory">
    <br><input type="submit" id="submit" name="submit" value="submit">
  </div>
</form>
</p>

<div class="item-container">
    {% for item in inventory %}
    <div class="item">
        <img src="{{ item.image }}" alt="default">
        <h2>{{ item.name }} from {{item.manufacturer.name }}</h2>
        <h4>{{ item.description }}</h4>
        <table>
            <tr>
              <th>Quantity in stock</th>
              <th>Buying cost</th>
              <th>Selling price</th>
              <th>Markup</th>
            </tr>
            <tr>
              <td>{{ '{:20,.0f}'.format(item.stock_quantity) }}</td>
              <td>£{{ '{:20,.2f}'.format(item.buying_cost) }}</td>
              <td>£{{ '{:20,.2f}'.format(item.selling_price) }}</td>
              <td> {{ item.margin }}</td>
            </tr>
          </table>
          
          {% if item.stock_quantity is eq(0) %}
          <p><i>out of stock</i></p>
          {% elif item.stock_quantity is le(3) %}
          <p><i>stock low</i></p>
          {% endif %}
        
        <form class="form-inline" action="/inventory/{{ item.id }}/delete/" method="POST">
        <input type="submit" value="Delete" id="delete">
        <a href="inventory/{{ item.id }}">More information</a>
    </form>
    </div>
{% endfor %}

</div>
{% endblock %}
