{% extends "base.html" %}
{% block content %}
<hr>
<h2> Add item: </h2><br>
  <form class="form-inline-2" action="/inventory/new_item" method="post">
      <label for="item_name">Item name:</label>
      <input type="text" id="item_name" name="item_name">
      <br><label for="manufacturer">Manufacturer:</label>
      <select id="manufacturer" name="manufacturer_id">
        {% for manufacturer in all_manufacturers %}
        {% if manufacturer.active == True %}
          <option value="{{ manufacturer.id }}">{{ manufacturer.name }}</option>
        {% endif %}
        {% endfor %}
      </select>
      <br><label for=description>Description:</label>
      <input type="text" id="description" name="description">
      <br><label for="quantity">Quantity:</label>
      <input type="number" id="quantity" name="quantity">
      <br><label for="buying_cost">Cost to buy (£):</label>
      <input type="number" step="0.01" id="buying_cost" name="buying_cost">   
      <br><label for="selling_price">Selling price (£):</label>
      <input type="number" step="0.01" id="selling_price" name="selling_price">  
      <br><label for="image">Image url:</label>
      <input type="text" id="image" name="image">
        
      <div class="submit-container-inventory">
        <br><input type="submit" id="submit" name="submit" value="submit">
      </div>
      {{ save_successful }}
  </form>

{% endblock %}