{% extends "base.html" %}
{% block content %}
<hr>
<div class="item-container">
    <div class="item">
        <h2>{{ item.name }} from {{item.manufacturer_id }}</h2>
        <h4>{{ item.description }}</h4>
        <table>
            <tr>
              <th>Quantity in stock</th>
              <th>Buying cost</th>
              <th>Selling price</th>
            </tr>
            <tr>
              <td>{{ item.stock_quantity }}</td>
              <td>{{ item.buying_cost }}</td>
              <td>{{ item.selling_price }}</td>
            </tr>
          </table>
        

        <form class="form-inline" action="/inventory/{{ item.id }}/edit/" method="POST">
        <input type="submit" value="edit" id="edit">
    </form>
    </div>
</div>
{% endblock %}