{% extends "base.html" %}
{% block content %}
<hr>
<div class="item-container">
    <div class="item">
      {{item.__dict__}}
        <h2>{{ item.name }} from {{item.manufacturer_id }}</h2>
        <h4>{{ item.description }}</h4>
        <table>
            <tr>
              <th>Quantity in stock</th>
              <th>Buying cost</th>
              <th>Selling price</th>
              <th>Markup</th>
            </tr>
            <tr>
              <td>{{ item.stock_quantity }}</td>
              <td>£{{ item.buying_cost }}</td>
              <td>£{{ item.selling_price }}</td>
              <td> {{ item.margin }}</td>
            </tr>
          </table>
        
          {% if item.stock_quantity is eq(0) %}
          <p><i>out of stock</i></p>
          {% elif item.stock_quantity is le(3) %}
          <p><i>stock low</i></p>
          {% endif %}

        <a href="{{ item.id }}/edit_item">Edit item</a>
    </div>
</div>
{% endblock %}