{% extends "base.html" %}
{% block content %}
<hr>
<h2> Add manufacturer: </h2><br>
<form form class="form-inline-2" action="/manufacturer/new_manufacturer" method="post">
    <label for="name">Manufacturer name:</label>
    <input type="text" id="name" name="name">
    <br><label for=established>Established:</label>
    <input type="number" id="established" name="established"> 
    <br><label for="active">active?</label>
    <select id="active" name="active">
      <option value="true" selected="selected"> True </option>
      <option value="false" selected="selected" > False</option>
    </select>
    <div class="submit-container-manufacturer">
        <br><input type="submit" id="submit" name="submit" value="submit">
    </div>
</form>

{% endblock %}