{% extends "base.html" %}
{% block content %}
<hr>
<table id="shop_details_table">
    <tr>
      <th>Total shop stock quantity</th>
      <th>Total spent on buying inventory</th>
      <th>Total shop inventory book price</th>
      <th><b>Profit potential of inventory</b></th>
    </tr>
    <tr>
      <td>{{ '{:20,.0f}'.format(total_inventory_items) }}</td>
      <td> £{{ '{:20,.2f}'.format(total_spent_on_inventory) }}</td>
      <td>£{{ '{:20,.2f}'.format(total_book_cost) }}</td>
      <td><b>£{{ '{:20,.2f}'.format(total_book_cost - total_spent_on_inventory) }}</b></td>
    </tr>
  </table>

{% endblock %}
